<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>v-for looping </h1>
      <!-- <ul>
        <li v-for="char in chars">{{char}}</li>
      </ul>
      <ul>
        <li v-for="(ninja,index) in ninjas">{{index}}:  {{ninja.name}}, {{ninja.age}}</li>
      </ul> -->
      <!-- <template v-for="(ninja,index) in ninjas">
        <h4>
          {{index}}:  {{ninja.name}}
        </h4>
        <p>{{ninja.age}}</p>
      </template> -->
      <template v-for="ninja in ninjas">
        <div v-for="(value, key ) in ninja">
          <p>{{key}}: {{value}}</p>
        </div>
      </template>
    </div>
    <script src="app.js"> </script>
  </body>
</html>
